<div>
  <button nbButton status="primary" (click)="downloadPDF()">下载自定义的PDF</button>
  <button nbButton status="primary" (click)="downloadPDFFromElement()">下载本页面的PDF</button>
  <div class="pdf-content" #exportRef>
    <div class="header">
      <nb-card>
        <nb-card-header>Nebular</nb-card-header>
        <nb-card-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-card-body>
        <nb-card-footer>By Wikipedia</nb-card-footer>
      </nb-card>
      <nb-card>
        <nb-card-header>Nebular</nb-card-header>
        <nb-card-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-card-body>
        <nb-card-footer>By Wikipedia</nb-card-footer>
      </nb-card>
      <nb-card>
        <nb-card-header>Nebular</nb-card-header>
        <nb-card-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-card-body>
        <nb-card-footer>By Wikipedia</nb-card-footer>
      </nb-card>
      <nb-card>
        <nb-card-header>Nebular</nb-card-header>
        <nb-card-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-card-body>
        <nb-card-footer>By Wikipedia</nb-card-footer>
      </nb-card>
      <nb-card>
        <nb-card-header>Nebular</nb-card-header>
        <nb-card-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-card-body>
        <nb-card-footer>By Wikipedia</nb-card-footer>
      </nb-card>
      <nb-card>
        <nb-card-header>Nebular</nb-card-header>
        <nb-card-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-card-body>
        <nb-card-footer>By Wikipedia</nb-card-footer>
      </nb-card>
      <nb-card>
        <nb-card-header>Nebular</nb-card-header>
        <nb-card-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-card-body>
        <nb-card-footer>By Wikipedia</nb-card-footer>
      </nb-card>
      <nb-card>
        <nb-card-header>Nebular</nb-card-header>
        <nb-card-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-card-body>
        <nb-card-footer>By Wikipedia</nb-card-footer>
      </nb-card>
      <nb-card>
        <nb-card-header>Nebular</nb-card-header>
        <nb-card-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-card-body>
        <nb-card-footer>By Wikipedia</nb-card-footer>
      </nb-card>
    </div>
  </div>
</div>
