<ng-container *ngIf="loginForm">
  <form
    class="login-container"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <h1>登录</h1>
    <div class="login-input">
      <input formControlName="username" type="text" nbInput>
      <div *ngIf="loginForm.get('username')?.getError('required')" class="error-message text-danger">
       username is required!
      </div>
      <div *ngIf="loginForm.get('username')?.getError('minlength')" class="error-message text-danger">
        username 3 length at least!
      </div>
      <div *ngIf="loginForm.get('username')?.getError('usernameTaken')" class="error-message text-danger">
        username is not unique!
      </div>
    </div>
    <div class="login-input">
      <input formControlName="password" type="password" nbInput>
      <div *ngIf="passwordError" class="error-message text-danger">
        {{passwordError}}
      </div>
    </div>
    <button status="primary" type="submit" nbButton [nbSpinner]="loading" [disabled]="!loginForm.valid">Login</button>
  </form>
</ng-container>
