<nb-layout>
  <nb-layout-header>
    <div class="page-header-content">
      <div>
        <nb-icon icon="menu" (click)="handleClickMenuToggle()"></nb-icon>
      </div>
      <div>{{userInfo.username}}</div>
    </div>
  </nb-layout-header>

  <nb-sidebar left #sidebar id="page-menu-column">
    <nb-menu tag="menu-sidebar" [items]="menuItems">
    </nb-menu>
  </nb-sidebar>
  <nb-layout-column id="page-content-column">
    <div class="breadcrumb-row" *ngIf="!!breadcrumbs.length">
      <ul>
        @for (item of breadcrumbs; track item.path) {
          @if ($index !== 0) {
            <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
          }
          <a (click)="handleBreadcrumbItemClick(item.fullPath, $index)" [class]="{ disabled: $index === 0 || $index === breadcrumbs.length - 1 }">
            <li>{{item.title}}</li>
          </a>
        }
      </ul>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </nb-layout-column>
</nb-layout>
